{extend name="public/base" /}
{block name='content'}
{include file='public/content_header' /}
<!--数据列表页面-->
<section class="content">

    <!--顶部搜索筛选-->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="form-inline searchForm" id="searchForm" action="{:url('index')}" method="GET">

                        <div class="form-group">
                            <input value="{$_keywords ? $_keywords : '' ;}"
                                   name="_keywords" id="_keywords" class="form-control input-sm" placeholder="关键词">
                        </div>
						<div class="form-group">
                            <input value="{$pic_number ? $pic_number : '' ;}"
                                   name="pic_number" id="pic_number" class="form-control input-sm" placeholder="画号">
                        </div>
                        <div class="form-group">
                            <select name="status" id="status" class="form-control input-sm index-order">
                                <option value=''  {if isset($status) && $status == ''}selected{/if} >订单状态</option>
                                <option value="0" {if isset($status) && $status === "0"}selected{/if}>待委托</option>
                                <option value="1" {if isset($status) && $status==1}selected{/if}>交易中</option>
                                <option value="2" {if isset($status) && $status==2}selected{/if}>未付款</option>
                                <option value="3" {if isset($status) && $status==3}selected{/if}>已付款</option>
								<option value="4" {if isset($status) && $status==4}selected{/if}>代发货</option>
                                <option value="5" {if isset($status) && $status==5}selected{/if}>已发货</option>
                                <option value="10" {if isset($status) && $status==10}selected{/if}>交易成功</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="pay_type" id="pay_type" class="form-control input-sm index-order">
                                <option value="">支付方式</option>
                                <option value="1" {if isset($pay_type) && $pay_type==1}selected{/if}>微信</option>
                                <option value="2" {if isset($pay_type) && $pay_type==2}selected{/if}>支付宝</option>
                                <option value="3" {if isset($pay_type) && $pay_type==3}selected{/if}>银联</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                        <div class="form-group">
                            <button onclick="clearSearchForm()" class="btn btn-sm btn-default" type="button"><i
                                    class="fa  fa-eraser"></i> 清空查询
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <!--数据列表顶部-->
                <div class="box-header">
                    <div>

                        <a class="btn btn-danger btn-sm AjaxButton" data-toggle="tooltip" title="删除选中数据"
                           data-confirm-title="删除确认" data-confirm-content="您确定要删除选中的数据吗？" data-id="checked"
                           data-url="{:url('del')}">
                            <i class="fa fa-trash"></i> 删除
                        </a>
                        <a class="btn btn-primary btn-sm AjaxButton" data-toggle="tooltip" title="审核通过"
                           data-confirm-title="审核通过" data-confirm-content="您确定要通过选中的数据吗？" data-id="checked"
                           data-url="{:url('pass')}">
                            <i class="fa fa-angellist"></i> 通过
                        </a>
                        <a class="btn btn-primary btn-sm AjaxButton" data-toggle="tooltip" title="发货"
                           data-confirm-title="发货" data-confirm-content="您确定要发货选中的数据吗？" data-id="checked"
                           data-url="{:url('fahuo')}">
                            <i class="fa fa-plane"></i> 发货
                        </a>
						<a class="btn btn-success btn-sm AjaxButton" data-toggle="tooltip" title="收货"
                           data-confirm-title="发货" data-confirm-content="您确定要收货选中的数据吗？" data-id="checked"
                           data-url="{:url('delivery')}">
                            <i class="fa fa-check"></i> 收货
                        </a>

                        <a class="btn btn-success btn-sm ReloadButton" data-toggle="tooltip" title="刷新">
                            <i class="fa fa-refresh"></i> 刷新
                        </a>
                    </div>
                </div>

                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered datatable" width="100%">
                        <thead>
                        <tr>
                            <th>
                                <input id="dataCheckAll" type="checkbox" onclick="checkAll(this)" class="checkbox"
                                       placeholder="全选/取消">
                            </th>
                            <th>ID</th>
                            <th>卖家</th>
                            <th>图画</th>
                            <th>画编号</th>
                            <th>画名称</th>
                            <th>订单号</th>
                            <th>图画状态</th>
                            <th>图画价格</th>
                            <th>发布时间</th>
                            <th>支付方式</th>
                            <th>支付时间</th>
                            <th>买家</th>
                            <th>买家地址</th>
                            <th>买家手机号</th>
                            <th>购买时间</th>

                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach name="data" id="item"}
                        <tr>
                            <td>
                                <input type="checkbox" onclick="checkThis(this)" name="data-checkbox" data-id="{$item.id}" class="checkbox data-list-check" value="{$item.id}" placeholder="选择/取消">
                            </td>
                            <td>{$item.id}</td>
                            <td>{if empty($item.user.user_name)}后台{else}{$item.user.user_name}{/if}</td>
                            <td>
                                {if condition='!empty($item.pic.attachment)'}
                                <img alt="" src="{$item.pic.attachment}" class ="pimg dataListImg" style="height: 80px">
                                <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
                                    <div id="innerdiv" style="position:absolute;">
                                        <img id="bigimg" style="border:5px solid #fff;" src="" />
                                    </div>
                                </div>
                                {else}
                                {/if}
                            </td>
                            <td>{$item.pic.pic_number}</td>
                            <td>{$item.pic.pic_name}</td>
                            <td>{$item.order_no}</td>

                            <td>
                                <span class="btn btn-success btn-xs">{if condition="$item.status == 1"} 出售中
                                      {elseif condition="$item.status== 2 && $item.point_status == 0"}未付款
                                      {elseif condition="$item.status== 2 && $item.point_status == 1"}已付款
                                      {elseif condition="$item.status== 3"}已付款
                                      {elseif condition="$item.status== 4"}待发货
                                      {elseif condition="$item.status== 5"}已发货
                                      {elseif condition="$item.status== 10"}已完成
                                      {elseif condition="$item.status== 0"}待委托
                                      {else}未知
                                      {/if}
                                </span>
                            </td>
                            <td>{$item.total_price}</td>
                            <td>{$item.create_time}</td>
                            <td>
                                {if condition='$item.pay_type == 1'}微信
                                {elseif condition='$item.pay_type == 2'}支付宝
                                {elseif condition='$item.pay_type == 3'}银联
                                {else}
                                未知
                                {/if}
                            </td>
                            <td>{$item.pay_time|default='暂无'}</td>
                            <td>{$item.buyUser.user_name|default='暂无'}</td>
                            <td>{$item.address.detail|default='暂无'}</td>
                            <td>{$item.address.mobile|default='暂无'}</td>
                            <td>{$item.buy_time|default='暂无'}</td>
                            <td class="td-do">
                                <a href="{:url('edit',['id'=>$item.id])}"
                                   class="btn btn-primary btn-xs" title="修改" data-toggle="tooltip">
                                    <i class="fa fa-pencil"></i>

                                </a>
                                <a class="btn btn-danger btn-xs AjaxButton" data-toggle="tooltip" title="删除"
                                   data-id="{$item.id}" data-confirm-title="删除确认"
                                   data-confirm-content='您确定要删除ID为 <span class="text-red">{$item.id}</span> 的数据吗'
                                   data-url="{:url('del')}">
                                    <i class="fa fa-trash"></i>

                                </a>
                                {if $item.status == 2 }
                                <a class="btn btn-success btn-xs AjaxButton" data-toggle="tooltip" title="收款"
                                   data-id="{$item.id}" data-confirm-title="确认收款"
                                   data-confirm-content='您确定ID为 <span class="text-red">{$item.id}</span> 的数据收款吗?'
                                   data-url="{:url('shoukuan')}">
                                    <i class="fa fa-asterisk"></i>

                                </a>
                                {/if}

                                {if $item.status == 4||$item.status == 3}

                                <a class="btn btn-primary btn-xs AjaxButton" data-toggle="tooltip" title="发货"
                                   data-id="{$item.id}" data-confirm-title="确认发货"
                                   data-confirm-content='您确定ID为 <span class="text-red">{$item.id}</span> 的数据发货吗?'
                                   data-url="{:url('fahuo')}">
                                    <i class="fa fa-plane"></i>

                                </a>
                                {/if}
								{if $item.status == 2}

                                <a class="btn btn-primary btn-xs AjaxButton" data-toggle="tooltip" title="取消"
                                   data-id="{$item.id}" data-confirm-title="取消订单"
                                   data-confirm-content='您确定ID为 <span class="text-red">{$item.id}</span> 的数据取消订单吗?'
                                   data-url="{:url('quxiao')}">
                                    <i class="fa fa-chain-broken"></i>

                                </a>
                                {/if}

                                {if $item.status == 0 && $item.pay_status == 1}
                                <a class="btn btn-success btn-xs AjaxButton" data-toggle="tooltip" title="审核"
                                   data-id="{$item.id}" data-confirm-title="审核通过"
                                   data-confirm-content='您确定ID为 <span class="text-red">{$item.id}</span> 的数据审核通过吗?'
                                   data-url="{:url('pass')}">
                                    <i class="fa fa-angellist"></i>

                                </a>
                                {/if}
                                {if $item.status == 5}
                                <a class="btn btn-success btn-xs AjaxButton" data-toggle="tooltip" title="收货"
                                   data-id="{$item.id}" data-confirm-title="收货"
                                   data-confirm-content='您确定ID为 <span class="text-red">{$item.id}</span> 的数据收货吗?'
                                   data-url="{:url('delivery')}">
                                    <i class="fa fa-check"></i>

                                </a>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>

                <!-- 数据列表底部 -->
                <div class="box-footer">
                    {$page|raw}
                    <label class="control-label pull-right" style="margin-right: 10px; font-weight: 100;">
                        <small>共{$total}条记录</small>&nbsp;
                        <small>每页显示</small>
                        &nbsp;
                        <select class="input-sm" onchange="changePerPage(this)">
                            <option value="10" {if $admin.per_page==10}selected{/if}>10</option>
                            <option value="20" {if $admin.per_page==20}selected{/if}>20</option>
                            <option value="30" {if $admin.per_page==30}selected{/if}>30</option>
                            <option value="50" {if $admin.per_page==50}selected{/if}>50</option>
                            <option value="100" {if $admin.per_page==100}selected{/if}>100</option>
                        </select>
                        &nbsp;
                        <small>条记录</small>
                    </label>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    $(function(){
        $(".pimg").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });
    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

        /*获取当前点击图片的真实大小，并显示弹出层及大图*/

        $("<img/>").attr("src",src).on('load',function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if (realHeight > windowH * scale) { //判断图片高度
                imgHeight = windowH * scale; //如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight / realHeight * realWidth; //等比例缩放宽度
                if (imgWidth > windowW * scale) { //如宽度扔大于窗口宽度
                    imgWidth = windowW * scale; //再对宽度进行缩放
                }
            }else if (realWidth > windowW * scale) { //如图片高度合适，判断图片宽度
                imgWidth = windowW * scale; //如大于窗口宽度，图片宽度进行缩放
                imgHeight = imgWidth / realWidth * realHeight; //等比例缩放高度
            }else { //如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
            $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        })

        $("#outerdiv").click(function(){
            $(this).fadeOut("fast");
        })
    }

</script>


{/block}

