{extend name="public/base" /}
{block name='content'}
{include file='public/content_header' /}
<!--数据列表页面-->
<section class="content">

    <!--顶部搜索筛选-->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="form-inline searchForm" id="searchForm" action="{:url('childrens',['id'=>$id])}" method="GET">

                        <div class="form-group">
                            <input value="{$_keywords ? $_keywords : '' ;}"
                                   name="_keywords" id="_keywords" class="form-control input-sm"
                                   placeholder="用户名/手机号/昵称">
                        </div>
                        <input type="hidden" value="{$id}">
                        <div class="form-group">
                            <select name="level" id="pay_type" class="form-control input-sm index-order">
                                <option value="0">所有({$allSum})</option>
                                <option value="1" {if isset($level) && $level==1}selected{/if}>一级({$oneSum})</option>
                                <option value="2" {if isset($level) && $level==2}selected{/if}>二级({$twoSum})</option>
                                <option value="3" {if isset($level) && $level==3}selected{/if}>三级({$threeSum})</option>
                            </select>
                        </div>

                        <script>
                            $('#_order').select2();
                            $('#_by').select2();
                        </script>

                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                        <!--                        <div class="form-group">-->
                        <!--                            <button onclick="exportData()" class="btn btn-sm btn-warning exportData" type="button"><i-->
                        <!--                                    class="fa fa-search"></i> 导出-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <div class="form-group">
                            <button onclick="clearSearchForm()" class="btn btn-sm btn-default" type="button"><i
                                    class="fa  fa-eraser"></i> 清空查询
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <!--数据列表顶部-->
                <div class="box-header">
                    <div>
                        <a title="添加" data-toggle="tooltip" class="btn btn-primary btn-sm " href="{:url('add')}">
                            <i class="fa fa-plus"></i> 添加
                        </a>
                        <a class="btn btn-danger btn-sm AjaxButton" data-toggle="tooltip" title="删除选中数据"
                           data-confirm-title="删除确认" data-confirm-content="您确定要删除选中的数据吗？" data-id="checked"
                           data-url="{:url('del')}">
                            <i class="fa fa-trash"></i> 删除
                        </a>


                    </div>
                </div>

                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered datatable" width="100%">
                        <thead>
                        <tr>
                            <th>
                                <input id="dataCheckAll" type="checkbox" onclick="checkAll(this)" class="checkbox"
                                       placeholder="全选/取消">
                            </th>
                            <th>ID</th>
                            <th>昵称</th>
                            <th>用户头像</th>
                            <th>用户级别</th>
                            <th>分销等级</th>
                            <th>上级用户手机号</th>
                            <th>上级用户姓名</th>
                            <th>手机号</th>
                            <th>是否禁用</th>
                            <th>我的邀请码</th>
                            <th>我的总佣金</th>
                            <th>提现佣金</th>
                            <th>年龄</th>
                            <th>注册时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach name="data" id="item"}
                        <tr>
                            <td>
                                <input type="checkbox" onclick="checkThis(this)" name="data-checkbox"
                                       data-id="{$item.id}" class="checkbox data-list-check" value="{$item.id}"
                                       placeholder="选择/取消">
                            </td>
                            <td>{$item.id}</td>
                            <!--                            <td><img style="max-width: 40px" src="{$item.head_img}"></td>-->
                            <td>{$item.user_name}</td>
                            <td>
                                {if condition = "!empty($item.head_img)"}
                                <img alt=""  src="{$item.head_img}" class ="pimg" style="height: 80px">
                                <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
                                    <div id="innerdiv" style="position:absolute;">
                                        <img id="bigimg" style="border:5px solid #fff;" src="" />
                                    </div>
                                </div>
                                {else}
                                {/if}
                            </td>
                            <td>{$item.user_level.name|default='普通会员'}</td>
                            <td>{$item.myLevel}</td>
                            <td>{if condition="empty($item.user.mobile)"}无{else}{$item.user.mobile}{/if}</td>
                            <td>{if condition="empty($item.user.user_name)"}无{else}{$item.user.user_name}{/if}</td>
                            <td>{$item.mobile}</td>

                            <td>
                                {if condition="$item.status == 1"}<input class="alert-success"  type="button" value="是">{/if}
                                {if condition="$item.status == 0"}<input class=" alert-danger " type="button"  value="否">{/if}

                            </td>
                            <td>{$item.code}</td>
                            <td>{$item.sumMoney}</td>
                            <td>{$item.withdraw_price}</td>
                            <td>{$item.age}</td>
                            <td>{if isset($item.create_time) } {$item.create_time}{/if}</td>

                            <td class="td-do">
                                <a href="{:url('edit',['id'=>$item.id])}"
                                   class="btn btn-primary btn-xs" title="修改" data-toggle="tooltip">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{:url('UserAddress/index',['id'=>$item.id])}"
                                   class="btn btn-success btn-xs" title="查看地址" data-toggle="tooltip">
                                    <i class="fa fa-cogs"></i>
                                </a>
                                <a href="{:url('order',['id'=>$item.id])}"
                                   class="btn btn-primary btn-xs" title="分销订单" data-toggle="tooltip">
                                    <i class="fa fa-users"></i>
                                </a>
                                <a class="btn btn-danger btn-xs AjaxButton" data-toggle="tooltip" title="删除"
                                   data-id="{$item.id}" data-confirm-title="删除确认"
                                   data-confirm-content='您确定要删除ID为 <span class="text-red">{$item.id}</span> 的数据吗'
                                   data-url="{:url('del')}">
                                    <i class="fa fa-trash"></i>
                                </a>

                                                                {if $item.status==1}
                                                                <a class="btn btn-warning btn-xs AjaxButton" data-toggle="tooltip" title="禁用"
                                                                   data-id="{$item.id}" data-confirm-title="禁用确认"
                                                                   data-confirm-content='您确定要禁用ID为 <span class="text-red">{$item.id}</span> 的数据吗'
                                                                   data-url="{:url('disable')}">
                                                                    <i class="fa fa-circle"></i>
                                                                </a>
                                                                {else/}
                                                                <a class="btn btn-success btn-xs AjaxButton" data-toggle="tooltip" title="启用"
                                                                   data-id="{$item.id}" data-confirm-title="启用确认"
                                                                   data-confirm-content='您确定要启用ID为 <span class="text-red">{$item.id}</span> 的数据吗'
                                                                   data-url="{:url('enable')}">
                                                                    <i class="fa fa-circle"></i>
                                                                </a>
                                                                {/if}

                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>

                <!-- 数据列表底部 -->
                <div class="box-footer">
                    {$page|raw}
                    <label class="control-label pull-right" style="margin-right: 10px; font-weight: 100;">
                        <small>共{$total}条记录</small>&nbsp;
                        <small>每页显示</small>
                        &nbsp;
                        <select class="input-sm" onchange="changePerPage(this)">
                            <option value="10" {if $admin.per_page==10}selected{/if}>10</option>
                            <option value="20" {if $admin.per_page==20}selected{/if}>20</option>
                            <option value="30" {if $admin.per_page==30}selected{/if}>30</option>
                            <option value="50" {if $admin.per_page==50}selected{/if}>50</option>
                            <option value="100" {if $admin.per_page==100}selected{/if}>100</option>
                        </select>
                        &nbsp;
                        <small>条记录</small>
                    </label>
                </div>

            </div>
        </div>
    </div>

</section>
<script>
    $(function(){
        $(".pimg").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });
    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

        /*获取当前点击图片的真实大小，并显示弹出层及大图*/

        $("<img/>").attr("src",src).on('load',function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if (realHeight > windowH * scale) { //判断图片高度
                imgHeight = windowH * scale; //如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight / realHeight * realWidth; //等比例缩放宽度
                if (imgWidth > windowW * scale) { //如宽度扔大于窗口宽度
                    imgWidth = windowW * scale; //再对宽度进行缩放
                }
            } else if (realWidth > windowW * scale) { //如图片高度合适，判断图片宽度
                imgWidth = windowW * scale; //如大于窗口宽度，图片宽度进行缩放
                imgHeight = imgWidth / realWidth * realHeight; //等比例缩放高度
            } else { //如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
            $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        })

        $("#outerdiv").click(function(){
            $(this).fadeOut("fast");
        })
    }

</script>

{/block}