{extend name='public/base' /}
{block name='content'}
{include file='public/content_header' /}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- 表单头部 -->
                <div class="box-header with-border">
                    <div class="btn-group">
                        <a class="btn flat btn-sm btn-default BackButton">
                            <i class="fa fa-arrow-left"></i>
                            返回
                        </a>
                    </div>
                </div>
                <!-- 表单 -->
                <form id="dataForm" class="form-horizontal dataForm" action="" method="post"
                      enctype="multipart/form-data">
                    <!-- 表单字段区域 -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="attachment" class="col-sm-2 control-label">会员图片</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="attachment" name="head_img" placeholder="请上传会员图片" {if
                                       isset($data.attachment)}data-initial-preview="{$data.attachment}" {/if} type="file"
                                class="form-control field-image" >
                            </div>

                        </div>
                        <script>
                            $('#attachment').fileinput({
                                language: 'zh',
                                overwriteInitial: true,
                                browseLabel: '浏览',
                                initialPreviewAsData: true,
                                dropZoneEnabled: false,
                                showUpload: false,
                                showRemove: false,
                                allowedFileTypes: ['image'],
                                maxFileSize: 10240,
                            });
                        </script>
                        <div class="form-group">
                            <label for="vip_name" class="col-sm-2 control-label">会员名称</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="vip_name" name="vip_name" value="{$data.vip_name|default=''}"
                                       placeholder="请输入会员名称" type="text" class="form-control field-text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">会员价格</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="price" name="price" value="{$data.price|default='0.00'}"
                                       placeholder="请输入会员价格" type="number" class="form-control field-text">
                            </div>
                        </div>
                    <!-- 表单底部 -->
                    <div class="box-footer">
                        {:token()}
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10 col-md-4">
                            {if !isset($data)}
                            <!--                            <div class="btn-group pull-right">-->
                            <!--                                <label class="createContinue">-->
                            <!--                                    <input type="checkbox" value="1" id="_create" name="_create"-->
                            <!--                                           title="继续添加数据">继续添加</label>-->
                            <!--                            </div>-->
                            {/if}
                            <div class="btn-group">
                                <button type="submit" class="btn flat btn-info dataFormSubmit">
                                    保存
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>

    /** 表单验证 **/

    $('#dataForm').validate({
        rules: {
            'vip_name': {
                required: true,
            },
            'price': {
                required: true,
            },
        },
        messages: {

            'vip_name': {
                required: "会员名称不能为空",
            },
            'price': {
                required: "会员价格不能为空",
            },


        }
    });
</script>

{/block}
